# Django #
*.log
*.pot
*.pyc
__pycache__
local_settings.py
*/settings/local.py
db.sqlite3
media
uploads

# coverage result
.coverage
/coverage/

# pycharm
.idea/

# data
*.dump

# npm
node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json

# Sass
.sass-cache
*.map

# General
/{{project_name}}-venv/
/venv/
/env/
/output/
/cache/
.DS_Store
/staticfiles/*
/mediafiles/*
/.vscode/

.env
.direnv
.envrc
.tool-versions

# Backup files # 
*.bak 

# mypy 
.mypy_cache/ 

# pyenv 
.python-version

# Python # 
*.py[cod] 
*$py.class 

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 